// variables
$primary-color: #2d302f;
$secondary-color: #373838;
$text-primary: #c5c2c2;
$text-secondary: #999797;
$text-green: #4e9a06;
$text-blue: #3465a4;
$accent-color: #1a1919;
$gradient-1: #4e4e4e;
$gradient-2: #383838;

$nav-height: 3rem;

$menu-height: 30px;
$menu-width: $menu-height * 1.05;
$menu-thickness: 3px;
$menu-radius: 2px;

$hero-icon-lg-fs: 5rem;
$hero-icon-sm-fs: $hero-icon-lg-fs * 0.36;


// Resets and defaults
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $text-primary;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .06rem;
    background-color: $primary-color;
    color: $text-primary;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

.no-select {
    user-select: none;
}

.code {
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: .2rem;

    & .user {
        color: $text-green;
    }

    & .host {
        color: $text-blue;
    }

    &.bold {
        font-weight: 500;;
    }

    & .cursor {
        font-size: 1.3rem;
        animation: flash-cursor 1.8s infinite;
    }
}

@keyframes flash-cursor {
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
}

@mixin link-hover {
    text-shadow: $text-secondary 0 0 5px;
}

@mixin link-hover-transition {
    transition: text-shadow .4s;
}

@mixin gradient-text ($color-1, $color-2, $breakpoint-1, $breakpoint-2) {
    background: linear-gradient(to right, $color-1 0%, $color-2 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

