.code {
    font-family: 'JetBrains Mono';
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: .18rem;
    text-shadow: $accent-color 0 3px 5px;
}

.bold {
    font-weight: 500;
}

.user {
    color: $text-green;
}

.host {
    color: $text-blue;
}

.no-select {
    user-select: none;;
}

img {
    box-shadow: 0 3px 5px $accent-color;
}

i[class*='chevron'],
section p,
section h2 {
    text-shadow: $accent-color 0 3px 5px;
}