div.langs {
    position: relative;
    // z-index: -1;
    font-size: 5rem;
    opacity: 0;
    @include fadeinMixin(4s, .3s);

    & i {
        transform: scale(1.6);
        margin: 2rem 2.1rem;

        background: linear-gradient(
            to right, 
            #4e4e4e 0%, 
            #383838 60%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.hero div {
    display: flex;
    align-items: center;
    width: 60vw;

    & p {
        font-size: 1.7rem;
        word-break: break-all;
        opacity: 0;
        @include fadeinMixin(1s, 2s);
    }
}

.cursor {
    font-size: 2rem;
    opacity: 1;
    animation: flash-cursor 1.8s infinite;
}