@include media-md {

    // Nav
    .main-nav {
        background-color: $secondary-color;
        border-bottom: 2px solid $text-secondary;
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;
        min-width: 100vw;
        padding: 0 1rem;

        #{&}__menu {
            height: 2rem;
            width: 2.4rem;
            position: absolute;
            top: .3rem;
            right: 1.5rem;
            cursor: pointer;
            display: none;
        }

        #{&}__brand {
            font-size: 1.6rem;
            align-self: center;
        }

        #{&}__page-links {    
            flex-direction: row;

            & li {
                font-size: 1.4rem;
            }
        }

        #{&}__socials {
            font-size: 1.8rem;

            & li {
                margin: 0 .75rem;
            }
        }

        &.open {
            height: auto;
        }
        
        &:not(.open) &__page-links {
            opacity: 1;
            visibility: visible;
        }

        &:not(.open) &__socials {
            opacity: 1;
            visibility: visible;
        }
    }

    // home section
    .home {
        & .container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            height: 30vh;
            width: 73vw;
        }

        & .command-line {
            width: inherit;
            vertical-align: bottom;
            margin-bottom: 0;
            justify-content: flex-end;
        }

        #{&}__lg-i i {
            font-size: $hero-icon-lg-fs * 1.2;   
        }
    
        #{&}__sm-i {
            & div .sm-i {
                font-size: $hero-icon-sm-fs * 1.25;
            }
        }
    }
}