@include media-md {

    // Nav
    .main-nav {
        background-color: $secondary-color;
        border-bottom: 2px solid $text-secondary;
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;
        min-width: 100vw;
        padding: 0 1rem;

        #{&}__menu {
            height: 2rem;
            width: 2.4rem;
            position: absolute;
            top: .3rem;
            right: 1.5rem;
            cursor: pointer;
            display: none;
        }

        #{&}__brand {
            font-size: 1.6rem;
            align-self: center;
        }

        #{&}__page-links {    
            flex-direction: row;
            font-size: 1.6rem;
        }

        #{&}__socials a {
            margin: 0 1rem;
            font-size: 1.8rem;
        }

        #{&}__socials i {
            margin: 0 .25rem;
            font-size: 1.8rem;
        }

        &.open {
            height: auto;
        }
        
        &:not(.open) &__page-links {
            opacity: 1;
            visibility: visible;
        }

        &:not(.open) &__socials {
            opacity: 1;
            visibility: visible;
        }
    }
}