@import 'config';
@import 'nav';
@import 'responsive';

section {
    min-height: 100vh;
    min-width: 100vw;

    &:nth-child(odd) {
        background-color: $secondary-color;
    }
}

a.anchor {
    display: block;
    position: relative;
    top: -$nav-height;
    visibility: hidden;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #{&}__hero {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;

        & i {
            font-size: $hero-icon-lg-fs;
            margin: .6rem 1.2rem;
        }

        & div {
            position: relative;

            & .lg-i {
                @include gradient-text($gradient-1, $gradient-2, 0%, 60%);
            }

            & .badge {
                position: absolute;
                bottom: 2%;
                right: 2%;
                opacity: 0;
                transition: opacity 2.8s .3s;
                
                & i {
                    font-size: $hero-icon-sm-fs;
                    @include gradient-text($text-secondary, $gradient-1, 0%, 60%);
                }

                &.express-logo {
                    // font-family: helvetica neue,open sans,sans-serif;
                    // font-weight: 100; // this is correct font-weight - but too small!
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 200;
                    letter-spacing: 0;
                    position: absolute;
                    bottom: 10%;
                    right: 16%;
                    height: 1.8rem;

                    @include gradient-text($text-primary, $text-secondary, 0%, 100%);
                }

                &.show {
                    opacity: 0.6;
                }
            }
        }       
    }
}


