@import 'config';
@import 'fonts';
@import 'animations';
@import 'nav';
@import 'hero';

html {
    scroll-behavior: smooth;
}

body {
    font: normal 16px 'Open Sans';
    background-color: $primary-color;
    color: $text-primary;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: $text-primary;

    &.anchor {
        display: block;
        position: relative;
        top: -47px;
        visibility: hidden;
    }
}

ul, nav {
    list-style: none;
}

::selection {
    background-color: $text-secondary;
    color: $primary-color;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:not(:last-of-type) {
        min-height: 100vh;
    }

    &:not(.hero) {
        justify-content: flex-start;

        &:nth-child(odd) {
            background-color: $secondary-color;
        }
    }

    & .section-header {
        align-self: flex-start;
        margin-left: .5rem;;
    }

    h3,
    h3.code {
        font-size: 2.6rem;
    }
}