@import 'config';
@import 'nav';


section {
    min-height: 100vh;
    min-width: 100vw;

    &:nth-child(odd) {
        background-color: $secondary-color;
    }

    h2 {
        opacity: 0;
        transition: opacity 0s 2.6s;
        font-weight: 300;

        &.show {
            opacity: 1;
        }
    }
}

a.anchor {
    display: block;
    position: relative;
    top: -$nav-height;
    visibility: hidden;
}

.command-line {
    word-break: break-all;
    word-wrap: break-word;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5vw;

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95vw;
        margin: 0 auto;
    }

    & .command-line {
        margin-bottom: 3vh;
        word-break: break-all;
        word-wrap: break-word;
        max-width: 100%;
    }

    #{&}__lg-i {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;

        & i {
            font-size: $hero-icon-lg-fs;
            margin: .6rem 1.2rem;
        }

        & div {
            position: relative;

            & .lg-i {
                @include gradient-text($gradient-1, $gradient-2, 0%, 60%);
            }
        }       
    }

    #{&}__sm-i {
        display: flex;

        & div .sm-i {
            font-size: $hero-icon-sm-fs;
            margin: 1rem .6rem;
            opacity: 0.8;
            @include gradient-text($text-secondary, $gradient-1, 0%, 80%);
        }
    }
}

@import 'responsive';
