body {
    font-family: sans-serif;
    background-color: #222;
    color: #ddd;
    letter-spacing: .03em;
    line-height: 1.4em;
    padding-inline: 2.5rem;
}

h1, h2, h3, h4 {
    line-height: 1.2em;
}

a {
    color: #3787c9;
}

a:visited {
    color: #be8ae9;
}

pre, code {
    background-color: #ddd;
    color: #444;
}

pre {
    padding: 1em;
    white-space: pre-wrap;
    text-align: left;
    margin-inline: 3em;
}

code {
    padding: .4em .3em .2em;
    font-size: 1.1em;
    white-space: nowrap;
}

.note {
    font-style: italic;
    font-size: .9em;
}

img {
    width: 70%;
    height: auto;
    display: block;
    margin-inline: auto;
}