@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrainsMono.woff2") format('woff2');
}

:root {
    --bg-color: #fff;
    --bg-color-dark: #f5f2f0;
    --color: #111;
    --color-dark: #000;
    --color-light: #ccc;
    --border-color: #777;
    --accent-primary: #03f;
    --accent-primary-light: #35f;
    --accent-secondary: #51c;
    --accent-secondary-light: #72f;
    --accent-mono: #888;
    --accent-bg-mono-light: #ddd;
    --accent-mono-light: #333;
    --topic-selected: #bbb;
    --font-size: 17px;
    --letter-spacing: .06em;
    --line-height: 1.8em;
    --body-padding: 2.5rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #222;
        --bg-color-dark: #f5f2f0;
        --color: #ddd;
        --color-dark: #bbb;
        --color-light: #444;
        --border-color: #777;
        --accent-primary: #44a0eb;
        --accent-primary-light: #55b1fc;
        --accent-secondary: #be8ae9;
        --accent-secondary-light: #d7a6ff;
        --accent-mono: #aaa;
        --accent-bg-mono-light: #333;
        --accent-mono-light: #ccc;
        --topic-selected: #666;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Sans-Serif;
    background-color: var(--bg-color);
    color: var(--color);
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    padding-inline: var(--body-padding);
    max-width: 50vw;
    margin: auto;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2em;
    padding-block: .7em .1em;
}

h1 {
    font-weight: 300;
}

h2, h3, h4 {
    font-weight: 400;
}

nav li {
    line-height: 1.4em;
    margin-bottom: .6em;
}

a, button {
    color: var(--accent-primary);
}

a:hover,
button:hover {
    color: var(--accent-primary-light);
}

a:visited {
    color: var(--accent-secondary);
}

a:visited:hover {
    color: var(--accent-secondary-light);
}

button:not(.topic) {
    border-style: none;
    background: none;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}

code:not([class*=language-]) {
    font-family: JetBrainsMono;
    font-size: .8em;
    background-color: #f5f2f0;
    color: #444;
    padding: .4em .3em .2em;
}

code[class*="language-"],
pre[class*="language-"] {
    font-family: JetBrainsMono;
}

pre {
    margin-inline: 1em !important;
    font-size: .9em !important;
}

kbd {
    font-family: monospace;
    font-size: .9em;
    border: 1px solid var(--color);
    border-bottom: 3px solid var(--color);
    border-radius: 5px;
    padding: .2rem .4rem;
    margin-inline: .2em;
    position: relative;
    bottom: 2px;
}

table {
    margin-inline: auto;
    margin-bottom: 1rem;
    border: 2px solid var(--accent-mono);
    border-collapse: collapse;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    width: max-content;
    max-width: 100%;
}

th, td {
    border: 1px solid var(--accent-mono);
    padding: .1rem 1rem;
    text-align: start;
}

table.spreadsheet {
    --ss-bg: #fff;
    --ss-color: #222;
    --ss-bg-head: #2a2;
    --ss-bg-row-even: #8d8;
    --ss-label-bg: #ccc;
    --ss-label-color: #333;
    background: var(--ss-bg);
    color: var(--ss-color);

    & th {
        background: var(--ss-bg-head);
    }

    & tr:nth-of-type(even) {
        background: var(--ss-bg-row-even);
    }

    & thead {
        counter-reset: column-refs;
    }
    
    & th::before {
        counter-increment: column-refs;
        content: counters(column-refs, '', upper-alpha);
        display: block;
        background: var(--ss-label-bg);
        color: var(--ss-label-color);
        font-weight: normal;
        width: 100%;
        padding: 0 1rem .1rem;
        text-align: center;
        left: -1rem;
        bottom: .15rem;
        position: relative;
        border-bottom: 2px solid var(--accent-mono);
    }
}

img {
    max-width: 90%;
    max-height: 70vh;
    display: block;
    margin-inline: auto;
}

small:has(> p) {
    display: block;
    font-style: italic;
    font-size: .9em;
    margin: 1em;

    & em,
    & i {
        font-style: normal;
    }
}

blockquote {
    font-style: italic;
    font-size: .9em;
    color: var(--accent-mono-light);
    border-left: solid 4px var(--border-color);
    padding: .5em .8em;
    margin-inline: 1em;
    background: var(--accent-bg-mono-light);
}

p#description {
    font-weight: bold;
    font-style: italic;
}

time {
    display: block;
    margin: -1em .5em 1em;
    font-size: .9em;
    font-style: italic;
    color: var(--color-dark);
    font-variant-numeric: ordinal;
}

search#topics {
    &.noscript {
        & > header,
        & > button,
        & > p,
        & > ul {
            display: none;
        }
    }
     
    & ul {
        list-style-type: none;
        box-sizing: border-box;
        
        & li {
            display: inline;
            
            & button {
                font-family: sans-serif;
                border: none;
                color: var(--color);
                cursor: pointer;

                &:hover {
                    background-color: var(--topic-selected);
                }
            }
        }

        & button[aria-pressed="true"] {
            background-color: var(--border-color);
        }

        &.truncated li {
            &:nth-of-type(n+7) {
                display: none;
            }

            &:has(button[aria-pressed="true"]) {
                display: inline;
            }
        }
    }
}

ul.topic-container {
    padding-inline: 2%;
}

.topic {
    display: inline-block;
    background-color: var(--color-light);
    padding: .1rem .6rem .15rem;
    margin: .4rem .2rem;
    line-height: inherit;
    white-space: nowrap;
    font-size: .8rem;
    font-style: italic;
    letter-spacing: .06rem;
    font-weight: 500;

    &::before {
        content: '# ';
    }
}

.hidden {
    display: none;
}

.svg-container,
.rss-container {
    margin-block: .5em 1em;
    width: 3.2em;
}

.github-icon {
   transform: scale(1.3);
}

nav[aria-label='Breadcrumb'] {
    font-family: JetBrainsMono;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: .09rem;
    box-sizing: border-box;

    & ol {
        list-style-type: none;
        padding: 0;
    }

    & li {
        display: inline;
        
        & a {
            text-decoration: none;
            color: var(--accent-secondary);

            &:hover {
                color: var(--accent-secondary-light);
            }
        }
    }

    & li:first-of-type a {
        color: var(--accent-primary);

        &:hover {
            color: var(--accent-primary-light);
        }
    }

    & span.breadcrumb--seperator::before {
        content: '/'; 
        color: var(--accent-secondary);
    }

    & .term-dir::after  {
        content: ':';
    }
}

.path,
.term-priv {
    color: var(--accent-secondary);
}

.term-priv::after {
    content: ' $';
}

.hero .host {
    color: var(--accent-primary);
}

.hero .term-dir::after {
    content: ':~';
}

@media only screen and (max-width: 720px) {
    nav.breadcrumbs .host a,
    nav.breadcrumbs .host a:visited {
        color: var(--accent-primary);
    }
    nav.breadcrumbs .path a,
    nav.breadcrumbs .path a:visited {
        color: var(--accent-secondary-light);
    }

    body {
        max-width: 100vw;
    }

    pre {
        margin-inline: .1em !important;
        font-size: .8em !important;

    }
}

footer {
    text-align: center;
    padding-block: 2.5rem 2rem;
}

footer > div {
    padding-block: 0 .5rem;
}

@media (prefers-color-scheme: dark) {
    footer img {
        filter: invert(100%);
    }
}

@media print {
    @page {
        margin: 1cm;
    }
    body {
        padding: 0;
        width:100vw;
        margin-inline: 0;
        text-align: justify;
    }
    main, article {
        width: 100vw;
    }
    table {
        zoom: 80%
    }
    pre {
        zoom: 90%;
    }
}

