:root {
    --primary: #2d302f;
    --secondary: #373838;
    --text: #c5c2c2;
    --green: #4E9A06;
    --blue: #3465A4;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font: normal 16px 'Open Sans';
}

body {
    background-color: var(--primary);
    color: var(--text);
}

ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section:not(.hero):nth-child(odd) {
    background-color: var(--secondary);
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

/* Font Styles */
.code {
    font-family: "JetBrains Mono";
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 3px;
}

.bold {
    font-weight: 500;
}

.user {
    color: var(--green);
}

.host {
    color: var(--blue);
}

/* Nav */

nav.main {
    position: absolute;
    position: fixed;
    min-width: 100vw;
    background-color: var(--secondary);
    transition: background-color 1s;
    opacity: 0;
    animation: 1s fadein 1.5s forwards;
}

.nav-alt-bg {
    background-color: var(--primary);
}

nav.main ul {
    display: flex;
    justify-content: space-between;

    width: 65vw;
    margin: 10px auto;

    font-size: 19px;
}

nav.main a {
    transition: color .23s, text-shadow .32s, opacity .3s;
}

nav.main a:hover {
    color: #c5c2c2;
    text-shadow: #dbd8d8 0 0 1px;
}

/* Background */

div.langs {
    position: relative;
    z-index: -1;
    font-size: 5rem;

    opacity: 0;
    animation: 5s fadein 0.3s forwards;
}

div.langs i {
    transform: scale(1.6);
    margin: 32px 37px;

    background: linear-gradient(to right, #4e4e4e 0%, #383838 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero div {
    display: flex;
    align-items: center;
    width: 60vw;
}

.hero div p {
    font-size: 28px;
    word-break: break-all;
    opacity: 0;
    animation: 1s fadein 2s forwards;
}

.cursor {
    font-size:32px;
    opacity: 1;
    animation: flash-cursor 1.8s infinite;
}

@keyframes flash-cursor {
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
}

@media (max-width: 800px) {
    div.langs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    div.langs i {
        transform: scale(1);
        margin: 8px 18px;
    }

    .hero div {
        width: 90vw;
        justify-content: center;
    }

    .hero div p {
        font-size: 18px;
    }

    .cursor {
        animation: none;
    }
}

/* footer */

footer {
    height: 40px;
}



