html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: #222;
    color: #ddd;
    letter-spacing: .03em;
    line-height: 1.4em;
    padding-inline: 2.5rem;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2em;
}

a, button {
    color: #3787c9;
}

a:visited {
    color: #be8ae9;
}

button {
    border-style: none;
    background: none;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}

code:not([class*=language-]) {
    padding: .4em .3em .2em;
    font-size: 1.1em;
    background-color: #f5f2f0;
    color: #444;
}

pre {
    margin-inline: 1em !important;
    font-size: .9em !important;
}

table {
    margin-inline: auto;
    margin-bottom: 1rem;
    border: 2px solid #aaa;
    border-collapse: collapse;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    width: max-content;
    max-width: 100%;
}

th, td {
    border: 1px solid #aaa;
    padding: .15em 1em .1em;
    text-align: center;
}

table.spreadsheet {
    background: #ddd;
    color: #222;
}
table.spreadsheet th {
    background: #2A2;
}
table.spreadsheet tr:nth-of-type(even) {
    background: #96c496;
}
table.spreadsheet th,
table.spreadsheet td {
    text-align: start;
}

img {
    max-width: 90%;
    max-height: 70vh;
    display: block;
    margin-inline: auto;
}

aside {
    font-style: italic;
    font-size: .9em;
    margin: 1em;
}
aside em,
aside i {
    font-style: normal;
}

blockquote {
    font-style: italic;
    font-size: .9em;
    color: #ccc;
    border-left: solid 4px #777;
    padding: .5em .8em;
    margin-inline: 1em;
    background: #333;
}

p#intro {
    font-weight: bold;
    font-style: italic;
}

time {
    display: block;
    margin: -1em .5em 1em;
    font-size: .9em;
    font-style: italic;
    color: #bbb;
}

.topic-container, #topic-list {
    margin: 1.2em 1em;
    padding: 0;
}

.topic {
    display: inline-block;
    background-color: #444;
    padding: .3em .7em;
    margin: .4em .2em;
    white-space: nowrap;
    font-size: .9em;
}

.topic-truncate {
    max-height: 20vh;
    overflow: hidden;
}

#topic-list>.topic {
    cursor: pointer;
}

.topic.selected {
    background-color: #666;
}

.hidden {
    display: none;
}

.rss-container {
    margin-block: .5em 1em;
    width: 3.2em;
}

nav.breadcrumbs {
    font-family: monospace;
    font-weight: bold;
    color: #ddd;
    font-size: .9rem;
    letter-spacing: .09rem;
}
nav.breadcrumbs a {
    text-decoration: none;  
}
nav.breadcrumbs .host,
nav.breadcrumbs .host a,
nav.breadcrumbs .host a:visited {
    color: #3787c9;
}
nav.breadcrumbs .host a:hover {
    color: #44a0eb;
}
nav.breadcrumbs .path,
nav.breadcrumbs .path a,
nav.breadcrumbs .path a:visited {
    color: #be8ae9;
}
nav.breadcrumbs .path a:hover {
    color: #d7a6ff;
}
nav li {
    line-height: 1.8em;
}
body {
    max-width: 50vw;
    margin: auto;
}
@media only screen and (max-width: 720px) {
    nav.breadcrumbs .host a,
    nav.breadcrumbs .host a:visited {
        color: #44a0eb;
    }
    nav.breadcrumbs .path a,
    nav.breadcrumbs .path a:visited {
        color: #d7a6ff;
    }

    body {
        max-width: 100vw;
    }
}

footer {
    text-align: center;
    padding-block: 2.5rem 2rem;
}

footer > div {
    padding-block: 0 .5rem;
}