<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/><!-- description here -->
    <meta name="keywords" content=""/><!-- keywords here -->

    <title>AWD - <!-- Title here --></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>

    <link rel="canonical" href=""/><!-- page link here -->
    <link href="https://aaronwatts.dev/feed.xml" rel="alternate" title="AaronWattsDev RSS Feed - All" type="application/rss+xml"/>
    <link href="https://aaronwatts.dev/guides/feed.xml" rel="alternate" title="AaronWattsDev RSS Feed - Guides" type="application/rss+xml"/>
    <link href="https://aaronwatts.dev/tech/feed.xml" rel="alternate" title="AaronWattsDev RSS Feed - Tech" type="application/rss+xml"/>

    <link rel="preload" href="/assets/fonts/JetBrainsMono.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="stylesheet" href="/assets/styles/prism.css"><!-- remove if no codeblocks used -->
    <link rel="stylesheet" href="/assets/styles/style.css">
  </head>
  <body>
    <header>
      <nav aria-label="Breadcrumb">
        <ol>
          <li><a 
              href="/">aaronwatts@dev</a></li><span
              aria-hidden="true" class="term-dir"></span><li><span
              aria-hidden="true" class="breadcrumb--seperator"></span><a 
              href="/guides/">guides</a></li><li><span
              aria-hidden="true" class="breadcrumb--seperator"></span><a
              href="" aria-current="page"><!-- page url here --></a></li><span
              aria-hidden="true" class="term-priv"></span>
        </ol>
      </nav>
      <div class="rss-container">
        <a href="/rss">
          <img class="rss-icon" src="/images/rss.svg" alt="RSS feed">
        </a>
      </div>
    </header>
    <nav aria-labelledby="page-nav">
      <header>
        <h2 id="page-nav">On This Page</h2>
      </header>
      <ol>
        <li><a href="#intro">Intro</a></li>
      </ol>
    </nav>
    <main>
      <article>
        <header>
          <h1><!-- h1 goes here --></h1>
          <time datetime=""><!-- date her --></time>
          <img src="" alt=""><!-- img url anmd alt text -->
        </header>
        <section id="intro" title="Intro">
           <p id="description">
             <!-- intro here -->             
           </p>
          <p>
            <!-- more intro here -->
          </p>
        </section>

        <section id="" title="">
          <h2></h2>
          <p>

          </p>
      </article>
    </main>

    <nav aria-labelledby="to-top">
      <a href="#top" id="to-top">Back to Top</a>
    </nav>

    <footer>
      <div>Made by Hand. Powered by</div>
      <a href="https://pages.github.com/" target="_blank">
        <img src="/images/githubpages.svg" 
          alt="https://pages.github.com/">
      </a>
    </footer>

    <script src="/assets/scripts/prism.js"></script>
  </body>
</html>
